# Versión de Python usada: 3.13.9
pandas==2.3.3
numpy==2.3.5
matplotlib==3.10.6
openpyxl==3.1.5
pyyaml==6.0.3
pytest==8.4.2
scikit-learn==1.7.2
joblib==1.5.2
streamlit==1.51.0

# Documentación (mkdocstrings + Zensical)
mkdocstrings[python]==1.0.3
zensical==0.0.31

# Linter y calidad de código
ruff==0.12.0